
<meta charset="utf-8">
<title>TinyApp</title>

<form action="/login" method="POST">
  <label for="username">Login:</label>
  <input type="text" id="username" name="username" placeholder="username">
  <button type="submit">Sign In</button>
</form>
