<!DOCTYPE html>
<html>
<head>
  <title>TinyApp - Login</title>
</head>
<body>
<form action="/login" method="POST">
  <label for="email">Login:</label>
  <input type="text" id="email" name="email" placeholder="email">
  <label for="password">Password:</label>
  <input type="text" id="password" name="password" placeholder="password">
  <button type="submit">Sign In</button>
</form>
</body>

</html>
