<!DOCTYPE html>
<html>
  <%- include('partials/_header') %>
  <body>
    <ul>
      <% for (var key in urls) { %>
      <li>Url:<%= urls[key] %>, TinyUrl: <%= `http://localhost:8080/${key}`  %><li>
      <% } %>
    </ul>
    <a href='#'>SHORTEN YOUR URL! </a>
  </body>
</html>
