<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TinyApp</title>
  </head>
  <body>
    <p> URL:<%= longUrl %> TinyUrl: <%= `http://localhost:8080/${shortURL}` %> </p>

  </body>
</html>
