<!DOCTYPE html>
<html>
  <%- include('partials/_header') %>
  <body>
    <p> URL:<%= longURL %> Your TinyUrl: <a href="/u/<%=shortURL%>"><%= `http://localhost:8080/u/${shortURL}`%>  </a></p>
  </body>
</html>
